In [1]:
import sys
from pathlib import Path
sys.path.append(str(Path().resolve().parent))

In [2]:
from src.data_extractor.pdf_cutter import extract_pages
# Example usage
input_pdf = "../data/edf-bilan-social-2022.pdf"  # Path to your input PDF
output_pdf = "../data/extracted_pages.pdf"  # Path to save the new PDF
pages_to_extract = [13]  # Pages to extract (1-based indexing)

extract_pages(input_pdf, output_pdf, pages_to_extract)

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/nicolas.parent@Digital-
[nltk_data]     Grenoble.local/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /home/nicolas.parent@Digital-
[nltk_data]     Grenoble.local/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!

Extracted pages saved to ../data/extracted_pages.pdf

In [3]:

from src.data_extractor.unstructured_extractor import Unstructured

In [4]:
tables_list = Unstructured()("../data/edf_page_13.pdf")

Some weights of the model checkpoint at microsoft/table-transformer-structure-recognition were not used when initializing TableTransformerForObjectDetection: ['model.backbone.conv_encoder.model.layer2.0.downsample.1.num_batches_tracked', 'model.backbone.conv_encoder.model.layer3.0.downsample.1.num_batches_tracked', 'model.backbone.conv_encoder.model.layer4.0.downsample.1.num_batches_tracked']
- This IS expected if you are initializing TableTransformerForObjectDetection from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TableTransformerForObjectDetection from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [5]:
tables_list[0]

    Unnamed: 0_level_0 Unnamed: 1_level_0       Cadres               \
    Unnamed: 0_level_1 Unnamed: 1_level_1       Hommes       Femmes
0                  NaN               2022       20 204         8741
1          STATU AIRES               2021       19 826        8 493
2                  NaN               2020       19 728        8 404
3  NON STA CDI UTAIRES     2022 2021 2020  415 353 330  293 266 253
4  NON STA UTAIRES CDD               2022           70           35
5  NON STA UTAIRES CDD               2021           86           44
6  NON STA UTAIRES CDD               2020          108           49
7      EFFECTI F TOTAL               2022       20 689         9069
8      EFFECTI F TOTAL               2021       20 265        8 803
9      EFFECTI F TOTAL               2020       20 166        8 706

               Maitrise                Ex√©cution                            \
         Total   Hommes Femmes   Total    Hommes Unnamed: 9_level_1 Femmes
0       28 945   19 210   7148  26 358     2 206                NaN   1057
1       28 319   19 069  7 220  26 289      2145                NaN   1121
2       28 132   19 162  7 409   26571      2213                NaN   1247
3  708 619 583    9 9 5    NaN     NaN    0 0) 1                NaN  2 2 2
4          105     1089    NaN     NaN      1031                NaN    579
5          130    1 033    NaN     NaN       951                NaN    585
6          157      993    NaN     NaN       935                NaN    635
7       29 759   20 307    NaN     NaN     3 237                1.0    638
8       29 068    20111    NaN     NaN     3 096                1.0    708
9       28 871   20 160    NaN     NaN      3149                1.0    884


   Total
0  3 263
1  3 266
2  3 460
3  2 2 3
4   1610
5   1536
6   1570
7   4875
8  4 803
9  5 033