In [1]:
import psycopg2
import os 
import pandas as pd

In [2]:
data_path = "../../data"

In [3]:
from itertools import combinations


def find_primary_key_columns(df):
    """
    Find sets of columns that can serve as a primary key.

    Parameters:
    - df: The DataFrame to process.

    Returns:
    - A list of lists, where each inner list is a set of columns that can serve as a primary key.
    """
    # Get all column names
    columns = df.columns.tolist()

    # List to hold valid primary key column sets
    primary_key_sets = []

    # Check all non-empty subsets of columns
    for i in range(1, len(columns) + 1):
        for subset in combinations(columns, i):
            subset = list(subset)
            if (
                df.duplicated(subset).sum() == 0
            ):  # Check if all values are unique for this subset
                primary_key_sets.append(subset)
        if primary_key_sets != []:
            return primary_key_sets

    return primary_key_sets

In [7]:
file = os.path.join(data_path, "bilan-social-d-edf-sa-autres-conditions-de-travail.csv")
df = pd.read_csv(file, sep=";")
A = find_primary_key_columns(df)
for a in A:
    print(a)

['Année', 'Indicateur', 'Type de contrat', 'Tranche horaire', 'Collège', 'Genre']
['Année', 'Indicateur', 'Type de contrat', 'Tranche horaire', 'Collège', 'Gender']
['Année', 'Indicateur', 'Type de contrat', 'Tranche horaire', 'Employee category', 'Genre']
['Année', 'Indicateur', 'Type de contrat', 'Tranche horaire', 'Employee category', 'Gender']
['Année', 'Indicateur', 'Type de contrat', 'Time range', 'Collège', 'Genre']
['Année', 'Indicateur', 'Type de contrat', 'Time range', 'Collège', 'Gender']
['Année', 'Indicateur', 'Type de contrat', 'Time range', 'Employee category', 'Genre']
['Année', 'Indicateur', 'Type de contrat', 'Time range', 'Employee category', 'Gender']
['Année', 'Indicateur', 'Type of contract', 'Tranche horaire', 'Collège', 'Genre']
['Année', 'Indicateur', 'Type of contract', 'Tranche horaire', 'Collège', 'Gender']
['Année', 'Indicateur', 'Type of contract', 'Tranche horaire', 'Employee category', 'Genre']
['Année', 'Indicateur', 'Type of contract', 'Tranche horaire', 'Employee category', 'Gender']
['Année', 'Indicateur', 'Type of contract', 'Time range', 'Collège', 'Genre']
['Année', 'Indicateur', 'Type of contract', 'Time range', 'Collège', 'Gender']
['Année', 'Indicateur', 'Type of contract', 'Time range', 'Employee category', 'Genre']
['Année', 'Indicateur', 'Type of contract', 'Time range', 'Employee category', 'Gender']
['Année', 'Indicator', 'Type de contrat', 'Tranche horaire', 'Collège', 'Genre']
['Année', 'Indicator', 'Type de contrat', 'Tranche horaire', 'Collège', 'Gender']
['Année', 'Indicator', 'Type de contrat', 'Tranche horaire', 'Employee category', 'Genre']
['Année', 'Indicator', 'Type de contrat', 'Tranche horaire', 'Employee category', 'Gender']
['Année', 'Indicator', 'Type de contrat', 'Time range', 'Collège', 'Genre']
['Année', 'Indicator', 'Type de contrat', 'Time range', 'Collège', 'Gender']
['Année', 'Indicator', 'Type de contrat', 'Time range', 'Employee category', 'Genre']
['Année', 'Indicator', 'Type de contrat', 'Time range', 'Employee category', 'Gender']
['Année', 'Indicator', 'Type of contract', 'Tranche horaire', 'Collège', 'Genre']
['Année', 'Indicator', 'Type of contract', 'Tranche horaire', 'Collège', 'Gender']
['Année', 'Indicator', 'Type of contract', 'Tranche horaire', 'Employee category', 'Genre']
['Année', 'Indicator', 'Type of contract', 'Tranche horaire', 'Employee category', 'Gender']
['Année', 'Indicator', 'Type of contract', 'Time range', 'Collège', 'Genre']
['Année', 'Indicator', 'Type of contract', 'Time range', 'Collège', 'Gender']
['Année', 'Indicator', 'Type of contract', 'Time range', 'Employee category', 'Genre']
['Année', 'Indicator', 'Type of contract', 'Time range', 'Employee category', 'Gender']

In [4]:
file = os.path.join(data_path, "bilan-social-d-edf-sa-salaries-en-situation-de-handicap.csv")
df = pd.read_csv(file, sep=";")
A = find_primary_key_columns(df)
for a in A:
    print(a)

['Année', 'Type de contrat', 'Collège', 'Genre']
['Année', 'Type de contrat', 'Collège', 'Gender']
['Année', 'Type de contrat', 'Employee category', 'Genre']
['Année', 'Type de contrat', 'Employee category', 'Gender']
['Année', 'Type of contract', 'Collège', 'Genre']
['Année', 'Type of contract', 'Collège', 'Gender']
['Année', 'Type of contract', 'Employee category', 'Genre']
['Année', 'Type of contract', 'Employee category', 'Gender']

In [5]:
file = os.path.join(data_path, "bilan-social-d-edf-sa-absenteisme.csv")
df2 = pd.read_csv(file, sep=";")
A = find_primary_key_columns(df2[df2.columns[~df2.columns.isin(["Indicateur", "Indicator"])]])
for a in A:
    print(a)

In [ ]:
file = os.path.join(data_path, "bilan-social-d-edf-sa-effectifs-et-repartition-par-age-statut-et-sexe.csv")
df2 = pd.read_csv(file, sep=";")
A = find_primary_key_columns(df2[df2.columns[~df2.columns.isin(["Indicateur", "Indicator"])]])
for a in A:
    print(a)

KeyboardInterrupt:

In [ ]:
df2

['../../data/bilan-social-d-edf-sa-salaries-en-situation-de-handicap.csv',
 '../../data/bilan-social-d-edf-sa-autres-conditions-de-travail.csv',
 '../../data/bilan-social-d-edf-sa-droit-du-travail.csv',
 '../../data/bilan-social-d-edf-sa-formation.csv',
 '../../data/bilan-social-d-edf-sa-travailleurs-exterieurs.csv',
 '../../data/bilan-social-d-edf-sa-remuneration-et-promotions.csv',
 '../../data/README.md',
 '../../data/bilan-social-d-edf-sa-absenteisme.csv',
 '../../data/bilan-social-d-edf-sa-effectifs-et-repartition-par-age-statut-et-sexe.csv']

In [18]:
df

,Année,Perimètre juridique,Perimètre spatial,Spatial perimeter,Indicateur,Indicator,Type de contrat,Type of contract,Collège,Employee category,Genre,Gender,Valeur,Unité,Unit,Chapitre du bilan social
0,2023,EDF SA,France,France,Salariés en situation de handicap,Employees with Disabilities,Statutaires,Statutory,Cadre,Managers,Femme,Female,343.0,nombre,number,§1.7.1
1,2023,EDF SA,France,France,Salariés en situation de handicap,Employees with Disabilities,Non Statutaires CDI,Permanent non-staturory,Maîtrise,Supervisors,Homme,Male,0.0,nombre,number,§1.7.1
2,2023,EDF SA,France,France,Salariés en situation de handicap,Employees with Disabilities,Non Statutaires CDD,Fixed-term non-statutory,Cadre,Managers,Homme,Male,0.0,nombre,number,§1.7.1
3,2023,EDF SA,France,France,Salariés reconnus travailleurs handicapés suit...,Employees Recognized as Disabled Workers Due t...,Statutaires,Statutory,Maîtrise,Supervisors,NaN,NaN,49.0,nombre,number,§1.7.2
4,2023,EDF SA,France,France,Salariés reconnus travailleurs handicapés suit...,Employees Recognized as Disabled Workers Due t...,Non Statutaires CDD,Fixed-term non-statutory,Cadre,Managers,NaN,NaN,0.0,nombre,number,§1.7.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,2017,EDF SA,France,France,Salariés en situation de handicap,Employees with Disabilities,Non Statutaires CDI,Permanent non-staturory,Exécution,Operatives,Femme,Female,1.0,nombre,number,§1.7.1
185,2017,EDF SA,France,France,Salariés en situation de handicap,Employees with Disabilities,Non Statutaires CDD,Fixed-term non-statutory,Cadre,Managers,Homme,Male,0.0,nombre,number,§1.7.1
186,2017,EDF SA,France,France,Salariés en situation de handicap,Employees with Disabilities,Non Statutaires CDD,Fixed-term non-statutory,Cadre,Managers,Femme,Female,0.0,nombre,number,§1.7.1
187,2017,EDF SA,France,France,Salariés en situation de handicap,Employees with Disabilities,Non Statutaires CDD,Fixed-term non-statutory,Maîtrise,Supervisors,Femme,Female,10.0,nombre,number,§1.7.1
188,2017,EDF SA,France,France,Salariés reconnus travailleurs handicapés suit...,Employees Recognized as Disabled Workers Due t...,Non Statutaires CDI,Permanent non-staturory,Cadre,Managers,NaN,NaN,0.0,nombre,number,§1.7.2

In [10]:
pdf_path = "../../data/bilan-social.pdf"
import tabula
import pandas as pd

In [14]:
def extract_tables_from_pages(pdf_path,page):
	# Extract table from specified page
	tables = tabula.read_pdf(pdf_path, pages=page, multiple_tables=True)

  # Check if result is empty
	if not tables:
	  return None

	# Concatenate all tables from the specified pages into one DataFrame
	df = pd.concat(tables, ignore_index=True)

	return df

In [22]:
df = extract_tables_from_pages(pdf_path=pdf_path, page = 11)

In [23]:
df

,Unnamed: 0,Unnamed: 1,CDI,Unnamed: 2,Unnamed: 3,Unnamed: 4,CDD,Unnamed: 5,Unnamed: 6,Total,Unnamed: 7,Unnamed: 8,Rappel 2022,Rappel 2021
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,% eff.,NaN,NaN
1,Classe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tot.,NaN
2,NaN,H,F,H/F,H,NaN,F,H/F,H,F,H/F,Total,% eff,Tot. H/F % eff
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H/F,NaN
4,Classe 1,1,0,1,0,NaN,0,0,1,0,1,"0,0%","0 0,0%","0 0,0%"
5,Classe 2,1,3,4,0,NaN,0,0,1,3,4,"0,1%","3 0,1%","4 0,1%"
6,Classe 3,32,84,116,6,NaN,21,27,38,105,143,"4,2%","127 3,9%","159 4,9%"
7,Classe 4,166,497,663,1,NaN,13,14,167,510,677,"19,9%","669 20,5%","684 20,9%"
8,Classe 5,306,435,741,4,NaN,14,18,310,449,759,"22,3%","769 23,6%","761 23,3%"
9,dont CCNA,221,352,573,NaN,4.0,14,18,225,366,591,"17,3%","589 18,1%","579 17,2%"
10,dont CCNIA,85,83,168,NaN,0.0,0,0,85,83,168,"4,9%","180 5,5%","182 5,6%"
11,Classe 6,693,574,1 267,1,NaN,3,4,694,577,1 271,"37,3%","1 207 37,0%","1 160 35,5%"
12,dont CCNA,672,565,1 237,NaN,1.0,3,4,673,568,1 241,"36,4%","1 174 36,0%","1 129 34,6%"
13,dont CCNIA,21,9,30,NaN,0.0,0,0,21,9,30,"0,9%","33 1,0%","31 0,9%"
14,Classe 7,169,122,291,0,NaN,0,0,169,122,291,"8,5%","273 8,4%","274 8,4%"
15,dont CCNA,165,122,287,0,NaN,0,0,165,122,287,"8,4%","269 8,3%","270 8,3%"
16,dont CCNIA,4,0,4,0,NaN,0,0,4,0,4,"0,1%","4 0,1%","4 0,1%"
17,Cadres de direction,57,38,95,0,NaN,0,0,57,38,95,"2,8%","88 2,7%","87 2,7%"
18,A définir,0,0,0,0,NaN,0,0,0,0,0,"0,0%","0 0,0%","0 0,0%"
19,Sous total,1 425,1 753,3 178,12,NaN,51,63,1 437,1 804,3 241,"95,1%","3 136 96,2%","3 129 95,8%"
20,Contrats alternance,0,0,0,85,NaN,83,168,85,83,168,"4,9%","124 3,8%","138 4,2%"
21,Total,1 425,1 753,3 178,97,NaN,134,231,1 522,1 887,3 409,"100,0%",3 260 100%,3 267 100%

In [24]:
Test_data = {"ENTERPRISE": "BEN", "YEAR": 2024, "CONTRACT_TYPE": "BEN", "JOB_TYPE": "BEN", "GENDER": "BEN", "ABSENCE_INFO": "BEN",
                 "ABSENCE_HOURS": 1000, "UID": "BEN"}

In [26]:
pd.DataFrame.from_dict(Test_data)

ValueError: If using all scalar values, you must pass an index

In [ ]:
list(Test_data.keys())[0]

'ENTERPRISE'